{% extends 'base.html.twig' %}

{% block title %}Mon Blog Culinaire{% endblock %}

{% block body %}
    {% if app.user %}
        <h2 class="container-fluid mr-3 mt-5">Bienvenue {{ user.status }}</h2>
    {% endif %}
    <div class="container-fluid mt-3 ml-3">
        <div class="row">
            {% for recette in recettes %}
                    <div class="card mr-3 mb-5 col-lg-2">
                        <img class="card-img-top" src="{{ recette.image }}" alt="Card image cap" width="300">
                        <div class="card-body">
                            <p><strong>{{ recette.titre }}</strong></p>
                            <a type="button" class="btn btn-primary" href="http://localhost:8000?recette=.'{{ recette.id }}'">Voir le detail</a>
{#
                            <p class="card-text">#tag</p>
#}
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}