<footer class="bg-primary text-center text-lg-start" style="position: absolute; bottom: 0; width: 100%">
    <div class="text-center p-3" style="color: white">
        © 2021 Copyright:
        <a style="color: steelblue">blogculinaire.dimitri-lory.fr</a>
    </div>
</footer>