<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur mon blog{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="../public/css/style.css">
        {% block javascripts %}{% endblock %}
    </head>
{#
    <body style="position: relative">
#}
    <body>
        {{ include('common/header.html.twig') }}


                {% block body %}{% endblock %}


        {{ include('common/footer.html.twig') }}
    </body>
</html>
